# Ignore verything
/**
# Except gitignore
!/.gitignore
# Except README, etc.
!/README.md
!/LICENSE
!/Makefile
!/autorun.sh
# Except LaTeX files
!/*.tex
!/*.sty
# Except resources
!/res
!/res/*.svg
!/res/*.png
!/res/*.pdf
!/*.pdf
